img.greenBorderLeft {
  position: absolute;
  left: 210px;
  z-index: 3;
  bottom: 45px;
}

img.greenBorderRight {
  position: absolute;
  right: 210px;
  z-index: 3;
  bottom: 45px;
}

@media (min-width: 320px) and (max-width: 1180px) {
  img.greenBorderLeft {
    display: none;
  }

  img.greenBorderRight {
    display: none;
  }
}
