.text-shadow {
  text-shadow: 1px 1px 0px #390c06 !important;
}
.register-banner {
  width: 75%;
  height: 400px;
}
.border {
  border: 1px solid black;
  height: 30px;
}

.form-width {
  width: 70%;
  top: 12%;
}

.form-background {
  height: 320px;
  width: 220px;
}

@media (max-width: 424px) {
  .form-background {
    height: 320px;
    width: 230px;
  }
  .form-width {
    width: 75%;
    top: 15%;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .form-background {
    height: 320px;
    width: 300px;
  }
  .form-width {
    width: 75%;
    top: 15%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .form-background {
    height: 320px;
    width: 400px;
  }
  .form-width {
    width: 75%;
    top: 15%;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .form-background {
    height: 320px;
    width: 500px;
  }
}

@media (min-width: 1401px) {
  .form-background {
    height: 320px;
    width: 80%;
  }
  .form-width {
    width: 60%;
    top: 15%;
  }
}
