.marginNegative img.mobileViewBannerRegister {
  padding-top: 90px;
  width: 1050px;
  height: 1670px;
}

.marginNegative img.mobileViewBannerHome {
  margin-top: -1420px;
  width: 1050px;
  height: 4800px;
}

.marginNegative img.mobileViewBannerAbout {
  margin-top: -325px;
  width: 1050px;
  height: 2627px;
}

.marginNegative img.mobileViewBannerFAQ {
  margin-top: 40px;
  width: 1050px;
  max-height: 1555px;
}

.marginNegative img.mobileViewBannerTicket {
  margin-top: -850px;
  height: 3650px;
  width: 1050px;
}
.marginNegative img.mobileViewBannerArtist {
  margin-top: -3750px;
  height: 9450px;
  width: 1050px;
}

@media (min-width: 320px) and (max-width: 423px) {
  .marginNegative img.mobileViewBannerHome {
    margin-top: -1300px;
    width: 280px;
    height: 3230px;
  }

  .marginNegative img.mobileViewBannerAbout {
    margin-top: -670px;
    width: 280px;
    height: 1930px;
  }

  div.navWidth {
    max-width: 500px;
  }

  .marginNegative img.mobileViewBannerRegister {
    margin-top: -520px;
    height: 1470px;
    width: 280px;
  }

  .marginNegative img.mobileViewBannerFAQ {
    width: 280px;
    height: 950px;
  }

  .marginNegative img.mobileViewBannerTicket {
    margin-top: -600px;
    width: 280px;
    height: 1800px;
  }

  .marginNegative img.mobileViewBannerArtist {
    margin-top: -3750px;
    height: 10550px;
    width: 280px;
  }
}

@media (min-width: 424px) and (max-width: 529px) {
  .mobileViewBannerHome {
    height: 1800px;
    width: 390px;
  }

  .mobileViewBannerAbout {
    height: 1800px;
    width: 390px;
  }

  .mobileViewBannerRegister {
    padding-top: 90px;
    height: 1100px;
    width: 400px;
  }

  .bandLandHomeContainer {
    top: 6%;
  }

  .marginNegative img.mobileViewBannerTicket {
    margin-top: -560px;
    width: 340px;
    height: 1800px;
  }

  .marginNegative img.mobileViewBannerArtist {
    margin-top: -3750px;
    height: 9450px;
    width: 340px;
  }
}

@media (min-width: 530px) and (max-width: 599px) {
  .mobileViewBannerHome {
    height: 1830px;
    width: 480px;
  }

  .mobileViewBannerAbout {
    height: 1830px;
    width: 480px;
  }

  .mobileViewBannerRegister {
    padding-top: 90px;
    height: 1150px;
    width: 450px;
  }
  .bandLandHomeContainer {
    top: 6%;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .mobileViewBannerHome {
    height: 1870px;
    width: 550px;
  }

  .mobileViewBannerAbout {
    height: 1870px;
    width: 550px;
  }

  .mobileViewBannerRegister {
    padding-top: 90px;
    height: 1200px;
    width: 450px;
  }
  .bandLandHomeContainer {
    top: 6%;
  }
}

@media (min-width: 701px) and (max-width: 800px) {
  .mobileViewBannerHome {
    height: 1870px;
    width: 600px;
  }

  .mobileViewBannerAbout {
    height: 1870px;
    width: 600px;
  }

  .mobileViewBannerRegister {
    padding-top: 90px;
    height: 1200px;
    width: 600px;
  }
  .bandLandHomeContainer {
    top: 6%;
  }
}
